.DS_Store
go.work
go.work.sum

cmd/vin/vin
tools/cmd/wmi-index/wmi-index
tools/cmd/wmi-gen-data/wmi-gen-data

data/acea/*.pdf
data/acea/*.xlsx
data/acea/pdf/*.png
data/kba/*.pdf
data/kba/*.xlsx
data/kba/wmi/*.pdf
data/kba/wmi/*.png
data/vpic/*.bak
data/vpic/*.zip

docs/vpic/*.pdf
docs/vpic/manual/*.pdf
docs/vpic/manual/pages/*.png

docs/mercedes/vin-coding-summary/*.pdf
docs/mercedes/vin-coding-summary/pages/*.png
