.DS_Store
go.work
go.work.sum

*.pdf
*.png
*.bak
*.zip
*.xlsx

cmd/vin/vin
tools/cmd/wikibooks-manufacturers/wikibooks-manufacturers
tools/cmd/wikipedia-manufacturers/wikipedia-manufacturers
tools/cmd/kba-manufacturers/kba-manufacturers
tools/cmd/vpic-manufacturers/vpic-manufacturers
tools/cmd/manufacturers-merge/manufacturers-merge
