.DS_Store
go.work
go.work.sum

cmd/vin/vin
tools/cmd/wikibooks-manufacturers/wikibooks-manufacturers
tools/cmd/wikipedia-manufacturers/wikipedia-manufacturers
tools/cmd/kba-manufacturers/kba-manufacturers
tools/cmd/vpic-manufacturers/vpic-manufacturers
tools/cmd/manufacturers-merge/manufacturers-merge

data/acea/*.pdf
data/acea/*.xlsx
data/acea/pdf/*.png
data/kba/*.pdf
data/kba/*.xlsx
data/kba/wmi/*.pdf
data/kba/wmi/*.png
data/vpic/*.bak
data/vpic/*.zip

docs/vpic/*.pdf
docs/vpic/manual/*.pdf
docs/vpic/manual/pages/*.png

docs/mercedes/vin-coding-summary/*.pdf
docs/mercedes/vin-coding-summary/pages/*.png
